<% @recipes.each do |recipe| %>
   <div>
   <%= link_to recipes_detail_path(recipe.id) do%>
    <p><%= recipe.name%></p>
    <p><%= recipe.preparation_time.strftime("%H:%M") %></p>
   <%end%>
  </div>
<%end%>
