/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipe-lists {
  display: flex;
  gap: 2rem;
}
.recipe-container {
  border: 1px solid black;
  margin: 1rem;
  margin-left: 20%;
  width: 40%;
  padding: 1rem;
}
.add-recipe-button button {
  margin: 1rem;
  height: 3rem;
}
.recipe-title {
  color: black;
  display: flex;
  justify-content: center;
}
.public-status-true {
  width: 2rem;
  border: 1px solid black;
  height: 1rem;
  border-radius: 1rem;
  background-color: green;
  display: flex;
  justify-content: end;
}

.public-status-false {
  width: 2rem;
  border: 1px solid black;
  height: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  background-color: red;
}

.true-ball {
  background-color: white;
  width: 1rem;
  border-radius: 1rem;
}

.false-ball {
  background-color: white;
  width: 1rem;
  border-radius: 1rem;
}

.public-label {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.recipe-detail-controller {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

thead th {
  padding: 0.5rem;
  border: 1px solid black;
  background-color: rgb(228, 225, 225);
}
tbody td {
  padding: 0.5rem;
  border-left: 1px solid black;
}
tbody tr:nth-child(even) {
  background: rgb(228, 225, 225);
}
tbody tr:nth-child(odd) {
  background: white;
}

tbody td:last-child {
  border-right: 1px solid black;
}

.public-recipe-cont {
  border: 1px solid black;
  padding: 1rem;
  width: 50%;
  margin-left: 10%;
  font-size: large;
}

.public-recipe-mini-count {
  display: flex;
  gap: 3rem;
}

.recipe-detail-buttons {
  display: flex;
  gap: 15rem;
  justify-content: center;
}

.recipe-detail-table {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.public-recipe-head {
  display: flex;
  justify-content: center;
}

.Nav-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: black;
  padding: 1rem;
  padding-left: 3rem;
}

body {
  margin: 0;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.nav-link a:hover {
  text-decoration: underline;
}
